body{
    color: green;  
}

h3 {
    
<b> </b>;
}

.fondosetion {
    background-image: url("img/fauna.jpg");
    background-attachment: fixed;
}

.estilossetion {
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
    <i> </i>;
}